/* alignamento table*/
table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
  text-align: center;
}
td {
  display: table-cell;
  vertical-align: inherit;
}

/*Colore Soffuso sidebar e colore background*/
.bg-gradient-primary{
  background-color:#0d49fd;
  /*background-image:linear-gradient(180deg, #4e73df 10%, #224abe 100%);*/
  background-size:cover
}
.bg-main{
  background-color:#152144;
  /*background-image:linear-gradient(180deg, #4e73df 10%, #224abe 100%);*/
  background-size:cover
}
/* colore dei errori */
.error {    
  color: red;
}
/**********/
.navbar {/*colore navbar*/
  background-color: #0d49fd;
}
.navbar .navbar-brand { /*colore brand*/
  color: #ecf0f1;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/*colore tasto bianco quando passi sopra*/
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}

/*set grandezza testo*/
.navbar-nav .nav-item .nav-link {
  padding: .9em 1em !important;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
/*colore tasto quando non e sopra il testo prende info da bs-init.js*/
.navbar-nav .nav-item .nav-link {
  color: #333;
}

/*table size auto*/


/*css preso da fonts google*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,700i,900');
.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    color: #6c6c6f;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323233;
    text-transform: uppercase;
}
#top{
    background: #5499C7;
    padding: 5px;
}
#top ul{
    padding: 0;
    margin: 0;
}
#top ul li{
    list-style-type: none;
    display: inline-block;
    padding: 2px;
    font-weight: 700;
}
#top li i{
    font-size: 18px;
    letter-spacing: 3px;
        padding: 5px 15px;
    color: #000;

}
#top li i:hover{
    color: #DC7633;
}
#left{
    padding-left: 20px;
}




/* set di drop menu*/
.s {
    background: #fff;
}
/*admin top*/
.dropdown-item:hover {
    background-color: #DC7633;
    color: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/* mobile view */
  
@media (max-width:500px) {
  .navbar-nav {
        color: #fff;
      z-index: 1;
      margin-top: 5px;
  }

  .navbar-nav .nav-item .nav-link {
      padding: 0.7em 1em !important;
      font-size: 100%;
      font-weight: bold;
  }
  

}

@media(max-width: 447px){
  .ml-3, .mx-3 {
  margin-left: 0rem!important;
}
}
@media(max-width: 464px){
  .pull-right{
      float: none;

  }
  #top ul{
      text-align: center;
  }
}



/*Paginazione css preso da datatable css*/
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

ul {
  list-style-type: disc;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
/*css preso da Roboto stylesheet*/
body {
  font-family: 'Varela Round', sans-serif;
}
.modal-confirm {		
  color: #434e65;
  width: 525px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #47c9a2;
  border-bottom: none;   
      position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-confirm .close {
      position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;		
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
      border: none;
  }
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.text-center {
    text-align: center !important;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.text-center {
    text-align: center !important;
}

section {
    display: block;
}
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
element.style {
  background: url(assets/img/bg.jpg)no-repeat center center;
  background-size: cover;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}


